@*@model DemographicsViewModel

<style>
    .w3-image {
        max-width: 100%;
        height: auto
    }

    img {
        vertical-align: middle
    }

    a {
        color: inherit
    }

    .w3-table, .w3-table-all {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        display: table
    }

    .w3-table-all {
        border: 1px solid #ccc
    }

        .w3-bordered tr, .w3-table-all tr {
            border-bottom: 1px solid #ddd
        }

    .w3-striped tbody tr:nth-child(even) {
        background-color: #f1f1f1
    }

    .w3-table-all tr:nth-child(odd) {
        background-color: #fff
    }

    .w3-table-all tr:nth-child(even) {
        background-color: #f1f1f1
    }

    .w3-hoverable tbody tr:hover, .w3-ul.w3-hoverable li:hover {
        background-color: #ccc
    }

    .w3-centered tr th, .w3-centered tr td {
        text-align: center
    }

    .w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
        padding: 8px 8px;
        display: table-cell;
        text-align: left;
        vertical-align: top
    }

        .w3-table th:first-child, .w3-table td:first-child, .w3-table-all th:first-child, .w3-table-all td:first-child {
            padding-left: 16px
        }
</style>


    <div class="row">
        <div class="col-md-12">
            <p style="color:red;">* Please see below the Spine Mini Services demographics details compared against demographics returned from GP Records.</p>
        </div>
        <div class="col-md-12">
            <table class="w3-table">

                <tr>
                    <th></th>

                    @if (!string.IsNullOrEmpty(Model.Prefixes))
                    {
                        <th>Prefixes</th>
                    }

                    @if (!string.IsNullOrEmpty(Model.FamilyNames))
                    {
                        <th>Family Names</th>
                    }

                    @if (!string.IsNullOrEmpty(Model.GivenNames))
                    {
                        <th>Given Names</th>
                    }

                    @if (!string.IsNullOrEmpty(Model.Names))
                    {
                        <th>Name</th>
                    }
                    @if (!string.IsNullOrEmpty(Model.Addreses))
                    {
                        <th>Address</th>
                    }
                    @if (!string.IsNullOrEmpty(Model.Postcode))
                    {
                        <th>Postcode</th>
                    }
                    @if (!string.IsNullOrEmpty(Model.DateOfBirth))
                    {
                        <th>Date Of Birth</th>
                    }
                    @if (!string.IsNullOrEmpty(Model.Gender))
                    {
                        <th>Gender</th>
                    }
                    @if (!string.IsNullOrEmpty(Model.GPPracticeODSCode))
                    {
                        <th>GPPractice Code</th>
                    }


                </tr>
                <tr>
                    @if (!string.IsNullOrEmpty(Model.Prefixes))
                    {
                        <td>@Model.Prefixes</td>
                    }

                    @if (!string.IsNullOrEmpty(Model.FamilyNames))
                    {
                        <td>@Model.FamilyNames</td>
                    }
                    @if (!string.IsNullOrEmpty(Model.GivenNames))
                    {
                        <td>@Model.GivenNames</td>
                    }
                    @if (!string.IsNullOrEmpty(Model.Addreses))
                    {
                        <td>@Model.Addreses</td>
                    }
                    @if (!string.IsNullOrEmpty(Model.Postcode))
                    {
                        <td>@Model.Postcode</td>
                    }
                    @if (!string.IsNullOrEmpty(Model.DateOfBirth))
                    {
                        <td>@Model.DateOfBirth</td>
                    }
                    @if (!string.IsNullOrEmpty(Model.Gender))
                    {
                        <td>@Model.Gender</td>
                    }
                    @if (!string.IsNullOrEmpty(Model.GPPracticeODSCode))
                    {
                        <td>@Model.GPPracticeODSCode</td>
                    }

                </tr>
            </table>
        </div>
    </div>*@
