@model Sussex.Lhcra.Roci.Viewer.UI.Models.ResourceViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    @@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

    .accordion-toggle:after {
        font-family: 'FontAwesome';
        content: "\f078";
        float: right;
    }

    .accordion-opened .accordion-toggle:after {
        content: "\f054";
    }

    #floating_box {
        position: absolute;
        top: 80px;
        right: 23px;
        z-index: 10;
        background: #d9edf7;
        padding: 5px;
        border: 1px solid #CCCCCC;
        text-align: center;
        font-weight: bold;
        width: 76%;
    }
</style>



<script>
    $(window).scroll(function ()
    {
        $("#floating_box").animate({ top: $(window).scrollTop() + "px" }, { queue: false, duration: 350 });
    });

    $(document).on('show', '.accordion', function (e) {
        $(e.target).prev('.accordion-heading').addClass('accordion-opened');
    });

    $(document).on('hide', '.accordion', function (e) {
        $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
    });

    $(function ()
    {
        var differencesFound = 0;

        differencesFound = "@Model.DifferencesFound";

        if (differencesFound == 1)
        {
            CreateDemographicDiv();
        }


        function CreateDemographicDiv()
        {
            var list = $("#demoGraphicsDiv");

            $.confirm({
                title: 'Demographics differences found!',
                type: 'red',
                boxWidth: '50%',
                useBootstrap: false,
                typeAnimated: true,
                content: '' + list.html(),
                buttons: {
                    formSubmit: {
                        text: 'CANCEL',
                        btnClass: 'btn-red',
                        action: function ()
                        {
                           
                        }
                    }
                },
                onContentReady: function ()
                {
                    
                }
            });
        }
    });

</script>

@if (Model.DemographicsDiffDivModel != null && Model.DemographicsDiffDivModel.DifferencesFound)
{
    <div id="demoGraphicsDiv" class="row" style="display:none;">

        <div class="row">
            <div class="col-md-12">
                <p style="color:red;">* Please see below the demographics differences found. Demographics returned from GPConnect is compared to that held locally.</p>
            </div>
            <div class="col-md-12">
                <table class="w3-table">

                    <tr>



                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.FamilyNames))
                        {
                            <th>Family Names</th>
                        }

                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.GivenNames))
                        {
                            <th>Given Names</th>
                        }


                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.Addreses))
                        {
                            <th>Address</th>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.Postcode))
                        {
                            <th>Postcode</th>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.DateOfBirth))
                        {
                            <th>Date Of Birth</th>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.Gender))
                        {
                            <th>Gender</th>
                        }

                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.GPPracticeODSCode))
                        {
                            <th>GPPractice Code</th>
                        }


                    </tr>
                    <tr>


                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.FamilyNames))
                        {
                            <td>@Model.DemographicsDiffDivModel.FamilyNames</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.GivenNames))
                        {
                            <td>@Model.DemographicsDiffDivModel.GivenNames</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.Addreses))
                        {
                            <td>@Model.DemographicsDiffDivModel.Addreses</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.Postcode))
                        {
                            <td>@Model.DemographicsDiffDivModel.Postcode</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.DateOfBirth))
                        {
                            <td>@Model.DemographicsDiffDivModel.DateOfBirth</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.Gender))
                        {
                            <td>@Model.DemographicsDiffDivModel.Gender</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.GPPracticeODSCode))
                        {
                            <td>@Model.DemographicsDiffDivModel.GPPracticeODSCode</td>
                        }

                    </tr>

                    <tr>


                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.LocalFamilyNames))
                        {
                            <td>@Model.DemographicsDiffDivModel.LocalFamilyNames</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.LocalGivenNames))
                        {
                            <td>@Model.DemographicsDiffDivModel.LocalGivenNames</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.LocalAddreses))
                        {
                            <td>@Model.DemographicsDiffDivModel.LocalAddreses</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.LocalPostcode))
                        {
                            <td>@Model.DemographicsDiffDivModel.LocalPostcode</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.LocalDateOfBirth))
                        {
                            <td>@Model.DemographicsDiffDivModel.LocalDateOfBirth</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.LocalGender))
                        {
                            <td>@Model.DemographicsDiffDivModel.LocalGender</td>
                        }
                        @if (!string.IsNullOrEmpty(Model.DemographicsDiffDivModel.LocalGPPracticeODSCode))
                        {
                            <td>@Model.DemographicsDiffDivModel.LocalGPPracticeODSCode</td>
                        }

                    </tr>
                </table>
            </div>
        </div>

    </div>
}



<div class="row">

    <div id="floating_box">
        <partial name="Partials/_NavBanner" model="Model" />
    </div>


    <div class="col-md-12">

        <div class="panel panel-default">

            <div class="panel-heading">

            </div>

            <div class="panel-body">

                <ul class="nav nav-tabs">

                    <li class="active">
                        <a href="#detail" data-toggle="tab">PLEXUS VIEWER</a>
                    </li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade in active" id="detail" style="padding-top:15px;margin-top:15px;">

                        <div class="row">

                            <div class="col-md-12">

                                <div>
                                    @Html.Raw(Model.Div)
                                </div>

                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>