@model Sussex.Lhcra.Roci.Viewer.UI.Models.ResourceViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/CoolTable.css" rel="stylesheet" />
<link href="~/assets/css/Sidebar.css" rel="stylesheet" />
<style>
    .fade.in {
        opacity: 1;
    }

    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    .alert-dismissable, .alert-dismissible {
        padding-right: 35px;
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Clinical Items</h4>
                    </div>
                </div>
                <div class="card-body">

                    <div class="container">
                        <nav>
                            <ul class="mcd-menu">

                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Summary, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.Summary ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Summary</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.ProblemsAndIssues, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.ProblemsAndIssues ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Problems & Issues</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Medication, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.Medication ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Medications</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Allergies, nhsNumber = Model.NhsNumber  })"   class="@(Model.ActiveView == Constants.Allergies ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Allergies</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Encounters, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.Encounters ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Encounters</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Observations, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.Observations ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Observations</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Immunisations, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.Immunisations ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Immunisations</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Referrals, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.Referrals ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Referrals</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Clinical, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.Clinical ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Clinical Items</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Admin, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.Admin ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Admin Items</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("MentalHealthCrisisPlans", new { patientView = Constants.MentalHealthCrisisPlans, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.MentalHealthCrisisPlans ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">MH Crisis Plans</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("MentalHealthCrisisPlans", new { patientView = Constants.CommunityCarePlans, nhsNumber = Model.NhsNumber  })" class="@(Model.ActiveView == Constants.CommunityCarePlans ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Community Plans</strong>
                                    </a>
                                </li>



                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-10">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Community Care Plans <span>NHS Number: <strong> @Model.NhsNumber</strong></span></h4>
                    </div>
                </div>

                <div class="card-body">


        @if (Model.Plans != null && Model.Plans.Any())
        {

            <br />

            <ul class="nav nav-tabs" id="myTab-1" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">East Sussex Healthcare Trust</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sussex Community Foundation Trust</a>
                </li>

            </ul>

            <div class="tab-content" id="myTabContent-2">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <table id="enc-tab">
                        <thead>
                            <tr>
                                <th width="10%">Plan Date</th>
                                <th width="20%">Aim</th>
                                <th width="20%">Category</th>
                                <th width="20%">Name</th>
                                <th width="20%">Type</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var m in Model.Plans.Where(x => x.ProviderName == "ESHT").ToList())
                            {
                                <tr>
                                    <td class="date-column">@(m.DateStart.HasValue ? m.DateStart.Value.ToShortDateString() : "UNKNOWN") </td>
                                    <td>@m.Aim</td>
                                    <td>@m.Category</td>
                                    <td>@m.Name</td>
                                    <td>@m.PlanType</td>
                                </tr>
                            }


                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <table id="enc-tab">
                        <thead>
                            <tr>
                                <th width="10%">Plan Date</th>
                                <th width="20%">Aim</th>
                                <th width="20%">Category</th>
                                <th width="20%">Name</th>
                                <th width="20%">Type</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var m in Model.Plans.Where(x => x.ProviderName != "ESHT").ToList())
                            {
                                <tr>
                                    <td class="date-column">@(m.DateStart.HasValue ? m.DateStart.Value.ToShortDateString() : "UNKNOWN") </td>
                                    <td>@m.Aim</td>
                                    <td>@m.Category</td>
                                    <td>@m.Name</td>
                                    <td>@m.PlanType</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

            </div>

        }

                    else{
                    <div class="alert alert-danger fade in alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        <strong>Info Message: </strong> Plexus is unable to retrieve this part of the record. This may be because the patient has no record of this type or that information from this source is not yet available.
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>

</div>

