
@model Sussex.Lhcra.Roci.Viewer.UI.Models.ResourceViewModel

@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/CoolTable.css" rel="stylesheet" />
<link href="~/assets/css/Sidebar.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Departments</h4>
                    </div>
                </div>
                <div class="card-body">

                    <div class="container">
                        <nav>
                            <ul class="mcd-menu">

                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Summary })" class="@(Model.ActiveView == Constants.Summary ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Summary</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.ProblemsAndIssues })" class="@(Model.ActiveView == Constants.ProblemsAndIssues ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Problems & Issues</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Medication })" class="@(Model.ActiveView == Constants.Medication ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Medications</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Allergies }) class=" @(Model.ActiveView == Constants.Allergies ? "active" : "Inactive") "">
                                        <strong style="font-size:11px;">Allergies</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Encounters })" class="@(Model.ActiveView == Constants.Encounters ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Encounters</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Observations })" class="@(Model.ActiveView == Constants.Observations ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Observations</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Immunisations })" class="@(Model.ActiveView == Constants.Immunisations ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Immunisations</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Referrals })" class="@(Model.ActiveView == Constants.Referrals ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Referrals</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Clinical })" class="@(Model.ActiveView == Constants.Clinical ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Clinical Items</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("GetPatientData", new { patientView = Constants.Admin })" class="@(Model.ActiveView == Constants.Admin ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Admin Items</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("MentalHealthCrisisPlans", new { patientView = Constants.MentalHealthCrisisPlans })" class="@(Model.ActiveView == Constants.MentalHealthCrisisPlans ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Crisis Plans</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("MentalHealthCrisisPlans", new { patientView = Constants.CommunityCarePlans })" class="@(Model.ActiveView == Constants.CommunityCarePlans ? "active" : "Inactive")">
                                        <strong style="font-size:11px;">Community Plans</strong>
                                    </a>
                                </li>



                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-10">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Patient Record</h4>
                    </div>
                </div>
                <div class="card-body">

                    <div>
                        <table id="enc-tab">
                            <thead>
                                <tr>
                                    <th width="10%">NHS Number</th>
                                    <th width="10%">Plan Date</th>
                                    <th width="80%">Aim</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var m in Model.Plans.ToList())
                                {
                                    <tr>
                                        <td>@m.NHSNumber</td>
                                        <td class="date-column">@(m.DateStart.HasValue ? m.DateStart.Value.ToShortDateString() : "UNKNOWN") </td>
                                        <td>@m.Aim</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

