@model Sussex.Lhcra.Roci.Viewer.UI.Models.ResourceViewModel

@if (Model.Patient != null)
{

    <div class="accordion" id="accordion2">

        <div class="accordion-group">
            <div class="accordion-heading" style="height:75px;">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-block card-stretch card-height blog blog-detail" style="height:90px;">
                                <div class="card-body" style="margin-top:0;padding-top:0;">
                                    <div class="blog-description mt-3">
                                        <div class="blog-meta d-flex align-items-center mb-3">

                                            @if (Model.Patient.Name != null && Model.Patient.Name.Count > 0)
                                            {
                                                if (string.IsNullOrEmpty(Model.Patient.Name.FirstOrDefault().Text))
                                                {
                                                    <div class="author mr-4 rtl-ml-4 rtl-mr-0"><i class="ri-user-fill pr-2 rtl-pl-2 "></i>@Model.Patient.Name.FirstOrDefault().Family.FirstOrDefault().ToString() @Model.Patient.Name.FirstOrDefault().Given.FirstOrDefault().ToString()</div>
                                                }
                                                else
                                                {
                                                    <div class="author mr-4 rtl-ml-4 rtl-mr-0"><i class="ri-user-fill pr-2 rtl-pl-2 "></i>@Model.Patient.Name.FirstOrDefault().Text @Model.Title</div>
                                                }
                                            }

                                            <div class="date mr-4 rtl-ml-4 rtl-mr-0"><i class="ri-calendar-2-fill pr-2 rtl-pl-2 "></i>Born: @Model.FormattedDateOfBirth @*(@Model.StrAge)*@ </div>
                                            <div class="hit mr-4 rtl-ml-4 rtl-mr-0"><i class="las la-male pr-2 rtl-pl-2 "></i>Gender: @(Model.Patient.Gender.HasValue ? Model.Patient.Gender.Value.ToString() : "OTHER")</div>
                                            <div class="comments"><i class="ri-hospital-fill pr-2 rtl-pl-2 "></i>NHS No. @Model.NhsNumber</div>
                                            <hr />

                                            @if (string.IsNullOrEmpty(Model.Patient.Address.FirstOrDefault().Text))
                                            {
                                                <div class="date mr-4 rtl-ml-4 rtl-mr-0"><i class="ri-building-2-fill pr-2 rtl-pl-2 "></i> Address @Model.Patient.Address.FirstOrDefault().Line.FirstOrDefault()</div>

                                            }
                                            else
                                            {
                                                <div class="date mr-4 rtl-ml-4 rtl-mr-0"><i class="ri-building-2-fill pr-2 rtl-pl-2 "></i> Address @Model.Patient.Address.FirstOrDefault().Text</div>

                                            }

                                            <div class="hit mr-4 rtl-ml-4 rtl-mr-0"><i class="las la-mail-bulk pr-2 rtl-pl-2 "></i>Phone And Email @(Model.Patient.Telecom != null && Model.Patient.Telecom.Any() ? Model.Patient.Telecom.FirstOrDefault().Value : "N/A")</div>
                                            @*<div class="comments"><i class="ri-chat-3-fill pr-2 rtl-pl-2 "></i>NHS No. @Model.NhsNumber</div>*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="card card-block card-stretch card-height blog blog-detail" style="height:70px;">
                        <div class="card-body" style="margin-top:0;padding-top:0;">
                            <div class="blog-description mt-3">
                                <div class="blog-meta d-flex align-items-center mb-3">


                                    @if (Model.Patient.Address != null && Model.Patient.Address.Count > 0)
                                    {
                                        if (string.IsNullOrEmpty(Model.Patient.Address.FirstOrDefault().Text))
                                        {
                                            <div class="author mr-4 rtl-ml-4 rtl-mr-0"><i class="ri-building-2-fill pr-2 rtl-pl-2 "></i>Usual Address @Model.Patient.Address.FirstOrDefault().Line.FirstOrDefault()</div>

                                        }
                                        else
                                        {
                                            <div class="author mr-4 rtl-ml-4 rtl-mr-0"><i class="ri-building-2-fill pr-2 rtl-pl-2 "></i>Usual Address @Model.Patient.Address.FirstOrDefault().Text</div>

                                        }
                                    }

                                    @if (Model.Patient.Telecom != null && Model.Patient.Telecom.Count > 0)
                                    {
                                        <div class="hit mr-4 rtl-ml-4 rtl-mr-0"><i class="ri-phone-fill pr-2 rtl-pl-2 "></i>@Model.Patient.Telecom.FirstOrDefault().Use.Value @Model.Patient.Telecom.FirstOrDefault().Value</div>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}



